nav>img {
    object-fit: cover;
    float: left;
    width: 300px;
    height: 300px;
}

.gmail,
.Linke,
.insta {
    height: 130px;
    width: 130px;
    padding-right: 20px;
    float:left;
    margin-top: 170px;
}
footer,
footer>a{
    background-color: #08143F;
    font-family: "Fjalla One",sans-serif;
    position: absolute;
    margin-top: 60px;
    width: 100%;
}
footer>p,
footer>p>a {
    line-height: 50pt;
    font-size: 40pt;
    text-align: center;
    color: white;
}
.mmi {
    width: 200px;
    height: 200px;
    padding-left: 300px;
}

article>p{
    font-family: Raleway,sans-serif;
    font-size: 27pt;
    text-align: left;
    margin-left: 45px;
    margin-right:50px;
}
article>img{
    width: 661pt;
    height:444pt;
    margin-left: 45px;
    margin-top: 30px;
}
article>video {
    width: 661pt;
    height: 444pt;
    margin-left: 50px;
}

div.special>img{
    width: 736px;
    height: 570px;
    margin-left: 110px;
    margin-top: 70px;
}
div.boutonsdeux {
    font-family: Ubuntu, sans-serif;
    font-size: 17pt;
    display:block;
    width:270px;
    height: 70px;
    text-align: center;
    vertical-align:middle;
    background-color: #FE9572;
    border-radius: 50px;
    margin-left: 650px;
    margin-top: 30px;
    padding-top: 15px;
}
body>h1{
    font-family:Ubuntu, sans-serif;
    font-size: 60pt;
    margin-top: 100px;
    margin-left: 70px;
}
div.special>img{
    width: 736px;
    height: 570px;
    margin-left: 110px;

}
article {
    background-color:rgba(0,2,46,70%);
    width: 950px;
    height: 6000px;
    margin-left: 20px;
    padding-bottom:50px;
}
a {
    color: white;
    text-decoration: none;
}