h1 {
    font-family: ubuntu,sans-serif;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
}
div.img>img{
    margin-left: 450px;
    margin-right: 450px;
    width:347pt;
    height: 459pt;

}
div.img>p{
    font-family: Raleway,sans-serif;
    font-size: 30pt;
    margin-left: 500px;
}