
h1>span {
    color: #FE9572B5;
}
body>h1 {
    font-family: ubuntu,sans-serif;
    font-size: 50pt;
    line-height: 34px;
    text-align: center;
}
body>p,div.bloc{
    font-family: Raleway,sans-serif;
    font-size: 30pt;
    text-align: center;
}
nav>img {
    object-fit: cover;
    float: left;
    width: 300px;
    height: 300px;
}
.gmail,
.Linke,
.insta {
    height: 130px;
    width: 130px;
    padding-right: 20px;
}
footer {
    background-color: #08143F;
    font-family: "Fjalla One",sans-serif;
    position: absolute;
    margin-top: 60px;
    width: 100%;
}
footer>p {
    line-height: 50pt;
    font-size: 40pt;
    text-align: center;
}
.mmi {
    width: 200px;
    height: 200px;
    padding-left: 300px;
}
div.bloc>img {
    height: 344pt;
    width: 260pt;
}
strong {
    font-family: Ubuntu,sans-serif;
    font-size: 30pt;
}
div.bloc {
    background-color:rgba(0,2,46,70%);
    width: 950px;
    height: 5300px;
    margin-left: 20px;
    padding-bottom:50px;
}