body {
    background-color: #00022E;
    background-image: url("https://cdn.discordapp.com/attachments/778532770280112163/782188998113624094/background.png");
    background-attachment: fixed;
    background-size: 100%;
}
header {
    background-color: #08143F;
    height: 300px;
}
nav>a>img {
    object-fit: cover;
    float: left;
    width: 300px;
    height: 300px;
}

.gmail,
.Linke,
.insta {
    height: 130px;
    width: 130px;
    padding-right: 20px;
    float:left;
    margin-top: 170px;
}
footer,
footer>a{
    background-color: #08143F;
    font-family: "Fjalla One",sans-serif;
    position: absolute;
    margin-top: 60px;
    width: 100%;
}
footer>p,
footer>p>a {
    line-height: 50pt;
    font-size: 40pt;
    text-align: center;
    color: white;
    text-decoration: none;
}
.mmi {
    width: 200px;
    height: 200px;
    padding-left: 300px;
}
body>h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 70pt;
    text-align: center;
}
div.contenu {
    font-family: Raleway, sans-serif;
    font-size:30pt;
    line-height: 18pt;
    background-color:rgba(0,2,46,70%);
    width: 950px;
    height: 1700px;
    margin-left: 20px;
    padding-bottom:50px;
}
form {
    font-family: Ubuntu, sans-serif;
    font-size: 30pt;
    margin: 10px;
    padding: 1em;
}

form div + div {
    margin-top: 2em;
}

label {
    display: inline-block;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    width: 850px;
    height: 600px;
}

.button {
    padding-left: 90px;
}

button {
    display:block;
    width:270px;
    height: 100px;
    text-align: center;
    vertical-align:middle;
    color: white;
    background-color: #FE9572;
    border-radius: 50px;
    margin-left: 500px;
    margin-top: 10px;
    padding-top: 15px;
}

