@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Raleway:wght@100&display=swap');

body>nav>ul>li>a {
    font-family: "Fjalla One",sans-serif;
    font-size: 33pt;
    line-height: 44px;
    margin: 0;
    color: white;

}
html {
    color: white;
}

article>h3 {
    font-family: Ubuntu,sans-serif;
    font-size: 35pt;
    line-height: 26pt;
    margin-left: 35pt;
}