@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald&family=Raleway:wght@100&display=swap');
html {
    color: white;
}

article>h3 {
    font-family: Ubuntu,sans-serif;
    font-size: 35pt;
    line-height: 26pt;
    margin-left: 35pt;
}